body{
    background-color: rgb(22, 22, 22);
}

main{      
    text-align: center;
    width: 100vw;
    height: 100vh;
}

span{       
    color: white;
    font-size: 2em;
}

button{
    height: 2.5em;
    width: 5.5em;
    border: none;
    color: white;
    border-radius: 33%;
    cursor: pointer;
}

#start-btn{
    background-color: rgb(11, 111, 11);
}

#pause-btn{
    background-color: rgb(180, 180, 180);
}

#stop-btn{
    background-color: rgb(202, 0, 0);
}